{% extends "base.html" %}

{% block title %}AI Tutor | Nursing Genius{% endblock %}

{% block content %}

<div class="card">

<h1>🤖 Nursing Genius AI Tutor</h1>

<form method="POST">

<input
type="text"
name="question"
placeholder="Ask any nursing question..."
style="width:100%;padding:12px;">

<br><br>

<button class="button">
Ask AI
</button>

</form>

<hr>

{{ answer|safe }}

</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5628874287090033"
     crossorigin="anonymous"></script>
<!-- CASHKING1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5628874287090033"
     data-ad-slot="3618467337"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% endblock %}