{% extends "base.html" %}

{% block title %}
Nursing Notes - Anatomy, Pharmacology and Medical Nursing | Nursing Genius
{% endblock %}

{% block content %}

<div class="card">

<h1>📚 Nursing Genius Notes</h1>

{% if notes %}

    {% for note in notes %}

        <hr>

        <h2>{{ note[1] }}</h2>

        <h3>{{ note[2] }}</h3>

        <p>{{ note[3] }}</p>

        <a href="/delete_note/{{ note[0] }}">
            🗑 Delete Note
        </a>

    {% endfor %}

{% else %}

<h2>No notes have been added yet.</h2>

{% endif %}

<br>

<a class="button" href="/">
🏠 Home
</a>

</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5628874287090033"
     crossorigin="anonymous"></script>
<!-- CASHKING1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5628874287090033"
     data-ad-slot="3618467337"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% endblock %}